    <mtapp:setting
        id="first_name"
        label="<__trans phrase="First Name">"
        hint="<__trans phrase="Your first name.">">
        <input name="userprofiles_first_name" id="first_name" class="half-width" value="<mt:UserProfile field="first_name" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="last_name"
        label="<__trans phrase="Last Name">"
        hint="<__trans phrase="Your last name.">">
        <input name="userprofiles_last_name" id="last_name" class="half-width" value="<mt:UserProfile field="last_name" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="nickname"
        label="<__trans phrase="Alternate Nickname">"
        hint="<__trans phrase="A nickname.">">
        <input name="userprofiles_nickname" id="nickname" class="half-width" value="<mt:UserProfile field="nickname" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="email"
        label="<__trans phrase="Alternate Email">"
        hint="<__trans phrase="An alternative email address.">">
        <input name="userprofiles_email" id="email" class="half-width" value="<mt:UserProfile field="email" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="nickname"
        label="<__trans phrase="Alternate URL">"
        hint="<__trans phrase="An alternate URL.">">
        <input name="userprofiles_url" id="url" class="half-width" value="<mt:UserProfile field="url" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="address"
        label="<__trans phrase="Address">"
        hint="<__trans phrase="Your street address.">">
        <input name="userprofiles_address" id="address" class="half-width" value="<mt:UserProfile field="address" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="city"
        label="<__trans phrase="City">"
        hint="<__trans phrase="The city where you live.">">
        <input name="userprofiles_city" id="city" class="half-width" value="<mt:UserProfile field="city">" />
    </mtapp:setting>

    <mtapp:setting
        id="state"
        label="<__trans phrase="State">"
        hint="<__trans phrase="The state where you live.">">
        <input name="userprofiles_state" id="state" class="half-width" value="<mt:UserProfile field="state" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="country"
        label="<__trans phrase="Country">"
        hint="<__trans phrase="The country where you live.">">
        <input name="userprofiles_country" id="country" class="half-width" value="<mt:UserProfile field="country" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="mobile_phone"
        label="<__trans phrase="Mobile Phone">"
        hint="<__trans phrase="Mobile / cellular phone number.">">
        <input name="userprofiles_mobile_phone" id="mobile_phone" class="half-width" value="<mt:UserProfile field="mobile_phone" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="land_phone"
        label="<__trans phrase="Land Phone">"
        hint="<__trans phrase="Land-based phone number.">">
        <input name="userprofiles_land_phone" id="land_phone" class="half-width" value="<mt:UserProfile field="land_phone" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="sex"
        label="<__trans phrase="Sex">"
        hint="<__trans phrase="Male or female.">">
        <input name="userprofiles_sex" id="sex" class="half-width" value="<mt:UserProfile field="sex" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="marital_status"
        label="<__trans phrase="Marital Status">"
        hint="<__trans phrase="Single, married, divorced, etc.">">
        <input name="userprofiles_marital_status" id="marital_status" class="half-width" value="<mt:UserProfile field="marital_status" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="occupation"
        label="<__trans phrase="Occupation">"
        hint="<__trans phrase="Occupation or job title.">">
        <input name="userprofiles_occupation" id="occupation" class="half-width" value="<mt:UserProfile field="occupation" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="company"
        label="<__trans phrase="Company">"
        hint="<__trans phrase="The company you work for.">">
        <input name="userprofiles_company" id="company" class="half-width" value="<mt:UserProfile field="company" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="birthdate"
        label="<__trans phrase="Birthdate">"
        hint="<__trans phrase="Your birthdate in format of YYYY-MM-DD.">">
        <input name="userprofiles_birthdate" id="birthdate" class="half-width" value="<mt:UserProfile field="birthdate" date_format="%Y-%m-%d" escape="html">" />
    </mtapp:setting>


    <mtapp:setting
        id="about_me"
        label="<__trans phrase="About Me">"
        hint="<__trans phrase="Information about who you are.">">
        <textarea name="userprofiles_about_me" id="about_me" class="full-width"><mt:UserProfile field="about_me" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="actvities"
        label="<__trans phrase="Actvities">"
        hint="<__trans phrase="Activities you particiapte in.">">
        <textarea name="userprofiles_actvities" id="actvities" class="full-width"><mt:UserProfile field="actvities" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="interests"
        label="<__trans phrase="Interests">"
        hint="<__trans phrase="Your interests.">">
        <textarea name="userprofiles_interests" id="interests" class="full-width"><mt:UserProfile field="interests" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="music"
        label="<__trans phrase="Favorite Music">"
        hint="<__trans phrase="Your favorite music.">">
        <textarea name="userprofiles_music" id="music" class="full-width"><mt:UserProfile field="music" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="tv_shows"
        label="<__trans phrase="Favorite TV Shows">"
        hint="<__trans phrase="Your favorite TV shows.">">
        <textarea name="userprofiles_tv_shows" id="tv_shows" class="full-width"><mt:UserProfile field="tv_shows" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="movies"
        label="<__trans phrase="Favorite Movies">"
        hint="<__trans phrase="Your favorite movies.">">
        <textarea name="userprofiles_movies" id="movies" class="full-width"><mt:UserProfile field="movies" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="books"
        label="<__trans phrase="Favorite Books">"
        hint="<__trans phrase="Your favorite books.">">
        <textarea name="userprofiles_books" id="books" class="full-width"><mt:UserProfile field="books" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="quotes"
        label="<__trans phrase="Favorite Quotes">"
        hint="<__trans phrase="Your favorite quotes.">">
        <textarea name="userprofiles_quotes" id="quotes" class="full-width"><mt:UserProfile field="quotes" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="signature"
        label="<__trans phrase="Signature">"
        hint="<__trans phrase="Signature text and links that appear with every post, if enabled.">">
        <textarea name="userprofiles_signature" id="signature" class="full-width"><mt:UserProfile field="signature" escape="html"></textarea>
    </mtapp:setting>
